@page "/roles"
@using Yaprock.Core.Entity;
@using Yaprock.Core.Service;
@inject IService<Role> RoleService;


<PageTitle>Roller</PageTitle>

<h1>Roler</h1>

@if (roles == null)
{
    <p><em>Yükleniyor...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Rol</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var role in roles)
            {
                <tr>
                    <td>@role.Id</td>
                    <td>@role.RoleName</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<Role>? roles;

    protected override async Task OnInitializedAsync()
    {
        roles = await RoleService.GetAllAsync();
    }
}
